<!-- public/views/home.html -->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LoLStats</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>Team Members</small>
                </h1>
                <p>This project was made for our Software Engineering class at UC Santa Cruz. The idea was to create a friendly-user interface for League of Legends stats analysis. We want players to benefit from the information we have. Moreover, we want players to use this website often so contact us what we need to improve on. Remember to bookmark us!</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Logan Collinwood
                    <small>Product Owner, Backend Lead</small>
                </h3>
                <p>Primarily works on back-end of LoLStats, oversees project</p>
                <p>Links to: git, linked, blah blah.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Griffin Meyer
                    <small>Backend, full stack</small>
                </h3>
                <p>Primarily works on backend and assists team member on frontend if necessary</p>
                <p>Links to: git, linked, blah blah.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Brandon Chai
                    <small>Frontend Lead</small>
                </h3>
                <p>Leads frontend products and designs</p>
                <p>Links to: git, linked, blah blah.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Michael Le
                    <small>Frontend, fullstack</small>
                </h3>
                <p>Works on frontend product wherever it may be</p>
                <p>Links to: git, linked, blah blah.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Johannes Pitz
                    <small>Frontend, fullstack</small>
                </h3>
                <p>Works on frontend product wherever it may be</p>
                <p>Links to: git, linked, blah blah.</p>
            </div>
        </div>

        <hr>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>

<div id="footer">LoLStats isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</div>