
    <!-- public/views/nerd.html -->
        <div class="row playerinfo">
            <div class="col-md-4">
                <div class="content-sidebar"  ng-show="ranked">
                    <div class="playerInfo">
                        <div class="summonerPic mapPic">
                            <!-- <img src= {{profileicon}} > -->
                            <span class="heading">
                                <div>{{ match.payload.map }}</div>
                                <div class="heading__region">{{ match.payload.season }}</div>
                            </span>
                        </div>
                        <p class="name">
                            <span class="name__region">{{ match.payload.matchMode }}</span>
                            <span class="name__summoner-name">{{ match.payload.mapId }}</span>
                        </p>
                    </div>
                    <div class="row no-gutters career-stats">
                        <div class="col-md-6 col-sm-2 col-xs-4">
                            <div class="stat">
                                <div class="stat__num">{{ match.payload.length / 60 | number : 2 }} m</div>
                                <div class="stat__label">length</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-2 col-xs-4">
                            <div class="stat">
                                <div class="stat__num">{{match.payload.platformId }}</div>
                                <div class="stat__label">region</div>
                            </div>
                        </div>
                        <div class="col-md-6 last-updated">
                        	<span class="last-updated__label">Started At:</span>
                        	<span class="last-updated__time">{{ match.payload.matchStartTime}}</span>
                    	</div>
                        <div class="col-md-6 last-updated">
                        	<span class="last-updated__label">Fetched:</span>
                        	<span class="last-updated__time">{{ match.payload.updated_at}}</span>
                    	</div>
                    </div> <!-- career stats -->
                </div> <!-- .content-sidebar --> 
                <div class="stat-table career-kills-breakdown" ng-cloak>
                    <div class="col" chart id="pieChart_m" data="dataset" match-kills="match.promise"></div>
                </div>
            </div> <!-- .col-md-4 --> 
            <div class="col-md-8"  ng-show="ranked">
            	<!-- Loading Spinner -->
                <div class="stat-table recent-matches-table">
                    <i id="loadingIndicator" class="fa fa-cog fa-spin" style="font-size:36px;"></i>
                    <i id="errorIndicator" class="fa fa-times" style="font-size:36px;"></i>
                    <div class="table-wrapper">
                        <table class="table match" ng-class="{success: match.payload.teamInfo.one.won, danger: !match.payload.teamInfo.one.won}">
                            <tbody>
                                <!-- Match Num -->
                                <tr>
                                    <th class="tr__th--recent-matches">
                                        Team 1 
                                        <p ng-if="match.payload.teamInfo.one.won">Victor</p>
                                        <p ng-if="!match.payload.teamInfo.one.won">Defeat</p>
                                    </th>
                                    <td ng-repeat="m in match.payload.teamInfo.one.players">
                                        <div class="championpic" data-champion="{{ m.champion }}" ng-cloak></div>
                                        <div class="tr__td--match-num"><a href="/player/{{match.payload.region}}/{{ m.summonerName}}"> {{ m.summonerName}}</a></div>
                                    </td>
                                </tr>
                                <!-- Kills -->
                                <tr>
                                  <th>Kills</th>
                                  <td ng-repeat="m in match.payload.teamInfo.one.players"> {{ m.kills }}</td>                        
                                </tr>
                                <!-- Deaths -->  
                                <tr>
                                  <th>Deaths</th>
                                  <td ng-repeat="m in match.payload.teamInfo.one.players"> {{ m.deaths }}</td>
                                </tr>  
                                <!-- Assits -->
                                <tr>
                                  <th>Assists</th>
                                  <td ng-repeat="m in match.payload.teamInfo.one.players"> {{ m.assists }}</td>
                                </tr>   
                                <!-- Lane --> 
                                <tr>
                                  <th>Lane</th>
                                  <td ng-repeat="m in match.payload.teamInfo.one.players">{{ m.lane }}</td>
                                </tr>  
                                <!-- Role -->
                                <tr>
                                  <th>Role</th>
                                  <td ng-repeat="m in match.payload.teamInfo.one.players">{{ m.role }}</td>
                                </tr>
                                <!-- Result -->    
                                <tr>
                                  <th>Result</th>
                                  <td ng-repeat="m in match.payload.teamInfo.one.players">{{ m.won ? 'Victory' : 'Defeat'}}</td>
                                </tr>  
                                <!-- Wards Placed -->    
                                <tr>
                                  <th>Wards Placed</th>
                                  <td ng-repeat="m in match.payload.teamInfo.one.players">{{ m.wards_placed }}</td>
                                </tr> 
                                <!-- Wards Killed -->    
                                <tr>
                                  <th>Wards Killed</th>
                                  <td ng-repeat="m in match.payload.teamInfo.one.players"> {{ m.wards_killed }}</td>
                                </tr> 
                                <!-- First Blood -->    
                                <tr>
                                  <th>First Blood</th>
                                  <td ng-repeat="m in match.payload.teamInfo.one.players">{{ m.first_blood ? 'Yes' : 'No'}}</td>
                                </tr> 
                                
                            </tbody> 
                        </table>
                        <table class="table two match" ng-class="{success: match.payload.teamInfo.two.won, danger: !match.payload.teamInfo.two.won}">
                            <tbody>
                                <!-- Match Num -->
                                <tr>
                                    <th class="tr__th--recent-matches">
                                        Team 2 
                                        <p ng-if="match.payload.teamInfo.two.won">Victory</p>
                                        <p ng-if="!match.payload.teamInfo.two.won">Defeat</p>
                                    </th>
                                    <td ng-repeat="m in match.payload.teamInfo.two.players">
                                        <div class="championpic" data-champion="{{ m.champion }}" ng-cloak></div>
                                        <div class="tr__td--match-num"><a href="/player/{{match.payload.region}}/{{ m.summonerName}}"> {{ m.summonerName}}</a></div>
                                    </td>
                                </tr>
                                <!-- Kills -->
                                <tr>
                                  <th>Kills</th>
                                  <td ng-repeat="m in match.payload.teamInfo.two.players"> {{ m.kills }}</td>                        
                                </tr>
                                <!-- Deaths -->  
                                <tr>
                                  <th>Deaths</th>
                                  <td ng-repeat="m in match.payload.teamInfo.two.players"> {{ m.deaths }}</td>
                                </tr>  
                                <!-- Assits -->
                                <tr>
                                  <th>Assists</th>
                                  <td ng-repeat="m in match.payload.teamInfo.two.players"> {{ m.assists }}</td>
                                </tr>   
                                <!-- Lane --> 
                                <tr>
                                  <th>Lane</th>
                                  <td ng-repeat="m in match.payload.teamInfo.two.players">{{ m.lane }}</td>
                                </tr>  
                                <!-- Role -->
                                <tr>
                                  <th>Role</th>
                                  <td ng-repeat="m in match.payload.teamInfo.two.players">{{ m.role }}</td>
                                </tr>
                                <!-- Result -->    
                                <tr>
                                  <th>Result</th>
                                  <td ng-repeat="m in match.payload.teamInfo.two.players">{{ m.won ? 'Victory' : 'Defeat'}}</td>
                                </tr>  
                                <!-- Wards Placed -->    
                                <tr>
                                  <th>Wards Placed</th>
                                  <td ng-repeat="m in match.payload.teamInfo.two.players">{{ m.wards_placed }}</td>
                                </tr> 
                                <!-- Wards Killed -->    
                                <tr>
                                  <th>Wards Killed</th>
                                  <td ng-repeat="m in match.payload.teamInfo.two.players"> {{ m.wards_killed }}</td>
                                </tr> 
                                <!-- First Blood -->    
                                <tr>
                                  <th>First Blood</th>
                                  <td ng-repeat="m in match.payload.teamInfo.two.players">{{ m.first_blood ? 'Yes' : 'No'}}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div> <!-- .table-wrapper -->
                </div> <!-- .recent-matches-table -->
                <!-- <div class="table-wrapper">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>#</th>
                                <th>Page #</th>
                                <th>Slot</th>
                                <th>Rune ID</th>
                                <th>Page Name</th>
                            </tr>
                            <tr ng-repeat="m in player.payload.runes">
                                <th scope="row">{{ $index + 1 }}</th>
                                <td>{{ m.page }}</td>
                                <td>{{ m.slot }}</td>
                                <td>{{ m.runeId }}</td>
                                <td>{{ m.pageName }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div> <!-- .col-md-10 --> 
            <div class="col-md-12" ng-show="!ranked">
                <div class="well">
                    <p> This feature only works for ranked games currently. Try again later!</p>
                </div>
            </div>
        </div> <!-- .row -->
        
