
    <!-- public/views/nerd.html -->
        <div class="row playerinfo">
            <div class="col-md-4">
                <div class="content-sidebar">
                    <div class="playerInfo">
                         <div class="summonerPic">
                            <!-- <img src= {{profileicon}} > -->
                            <span class="heading">Match Breakdown</span>
                        </div>
                        <p class="name">
                            <span class="name__region">{{ match.payload.matchMode }}</span>
                            <span class="name__summoner-name">{{ match.payload.mapId }}</span>
                        </p>
                    </div>
                    <div class="row no-gutters career-stats">
                        <div class="col-md-6 col-sm-2 col-xs-4">
                            <div class="stat">
                                <div class="stat__num">{{ match.payload.length / 60 | number : 2 }}m</div>
                                <div class="stat__label">length</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-2 col-xs-4">
                            <div class="stat">
                                <div class="stat__num">{{match.payload.platformId }}</div>
                                <div class="stat__label">region</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-2 col-xs-4">
                            <div class="stat">
                                <div class="stat__num">{{match.payload.map }}</div>
                                <div class="stat__label">map</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-2 col-xs-4">
                            <div class="stat">
                                <div class="stat__num">{{ match.payload.season }}</div>
                                <div class="stat__label">season</div>
                            </div>
                        </div>
                        <div class="col-md-12 last-updated">
                        	<span class="last-updated__label">Started At:</span>
                        	<span class="last-updated__time">{{ match.payload.matchStartTime}}</span>
                    	</div>
                        <div class="col-md-12 last-updated">
                        	<span class="last-updated__label">Fetched:</span>
                        	<span class="last-updated__time">{{ match.payload.updated_at}}</span>
                    	</div>
                    </div> <!-- career stats -->
    <!--                 <br>
                    <p> Career Breakdown: </p>
                    <div class="heading"> <label> wins </label> {{player.payload.playerData.wins }} </div>
                    <div class="heading"> <label> champion kills </label> {{player.payload.playerData.totalChampionKills }} </div>
                    <div class="heading"> <label> assists </label> {{player.payload.playerData.assists }} </div>
                    <div class="heading"> <label> minion kills </label> {{player.payload.playerData.neutralMinionKills }} </div>
                    <div class="heading"> <label> turret kills </label> {{player.payload.playerData.turretsDestroyed }} </div>
                    <div class="heading"> <label> Last Updated </label> {{ player.payload.playerData.updated_at }} </div>
                    
                    <div class="heading"> <label> force update? </label> 
                    	<a href="/api/player/{{player.payload.playerData.region}}/{{player.payload.playerData.summonerName}}/force" target="_blank">
                    		<i class="fa fa-refresh" aria-hidden="true"></i>
                		</a>
            		</div> -->
                </div> <!-- .content-sidebar --> 
            </div> <!-- .col-md-4 --> 
            <div class="col-md-8">
            	<!-- Loading Spinner -->
                <div class="recent-matches-table">
                    <i id="loadingIndicator" class="fa fa-cog fa-spin" style="font-size:36px;"></i>
                    <i id="errorIndicator" class="fa fa-times" style="font-size:36px;"></i>
                    <div class="table-wrapper">
                        <table class="table">
                            <tbody>
                                <!-- Match Num -->
                                <tr>
                                    <th class="tr__th--recent-matches">Team 1</th>
                                    <td ng-repeat="m in match.payload.player_match">
                                        <div class="championpic" data-champion="{{ m.champion }}" ng-cloak></div>
                                    </td>
                                </tr>
                                <!-- SummonerId-->
                                  <th>SummonerId</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.summonerId }}</td>               
                                </tr>
                                <!-- Kills -->
                                  <th>Kills</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.kills }}</td>               
                                </tr>
                                <!-- Deaths -->  
                                  <th>Deaths</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.deaths }}</td>               
                                </tr>
                                <!-- Assits -->
                                <tr>
                                  <th>Assists</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.assists }}</td>  
                                </tr>   
                                <!-- Lane --> 
                                <tr>
                                  <th>Lane</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.lane }}</td>  
                                </tr>  
                                <!-- Role -->
                                <tr>
                                  <th>Role</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.role }}</td>  
                                </tr>
                                <!-- Result -->    
                                <tr>
                                  <th>Result</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.won }}</td>  
                                </tr>  
                                <!-- Wards Placed -->    
                                <tr>
                                  <th>Wards Placed</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.wards_placed}}</td>  
                                </tr> 
                                <!-- Wards Killed -->    
                                <tr>
                                  <th>Wards Killed</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.wards_killed }}</td>  
                                </tr> 
                                <!-- First Blood -->    
                                <tr>
                                  <th>First Blood</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.first_blood }}</td>  
                                </tr> 
                            </tbody> 
                        </table>
                        <!-- TEAM TWO CODE HERE -->
                        <table class="table">
                            <tbody>
                                <!-- Match Num -->
                                <tr>
                                    <th class="tr__th--recent-matches">Team 2</th>
                                    <td ng-repeat="m in match.payload.player_match">
                                        <div class="championpic" data-champion="{{ m.champion }}" ng-cloak></div>
                                    </td>
                                    <td ng-repeat="m in match.payload.teams.two.players">
                                        <div class="championpic" data-champion="{{ m.profileIcon }}" ng-cloak></div>
                                        <div class="tr__td--match-num"><a href="/player/{{match.payload.region}}/{{ m.summonerName}}"> {{ m.summonerName}}</a></div>
                                    </td>
                                </tr>
                                <!-- SummonerId-->
                                  <th>SummonerId</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.summonerId }}</td>               
                                </tr>
                                <!-- Kills -->
                                  <th>Kills</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.kills }}</td>               
                                </tr>
                                <!-- Deaths -->  
                                  <th>Deaths</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.deaths }}</td>               
                                </tr>
                                <!-- Assits -->
                                <tr>
                                  <th>Assists</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.assists }}</td>  
                                </tr>   
                                <!-- Lane --> 
                                <tr>
                                  <th>Lane</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.lane }}</td>  
                                </tr>  
                                <!-- Role -->
                                <tr>
                                  <th>Role</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.role }}</td>  
                                </tr>
                                <!-- Result -->    
                                <tr>
                                  <th>Result</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.won }}</td>  
                                </tr>  
                                <!-- Wards Placed -->    
                                <tr>
                                  <th>Wards Placed</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.wards_placed}}</td>  
                                </tr> 
                                <!-- Wards Killed -->    
                                <tr>
                                  <th>Wards Killed</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.wards_killed }}</td>  
                                </tr> 
                                <!-- First Blood -->    
                                <tr>
                                  <th>First Blood</th>
                                  <td ng-class="{success: m.won, danger: !m.won}" ng-repeat="m in match.payload.player_match"> {{ m.first_blood }}</td>  
                                </tr> 
                            </tbody> 
                        </table>
                    </div> <!-- .table-wrapper -->
                </div> <!-- .recent-matches-table -->
                <!-- <div class="table-wrapper">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>#</th>
                                <th>Page #</th>
                                <th>Slot</th>
                                <th>Rune ID</th>
                                <th>Page Name</th>
                            </tr>
                            <tr ng-repeat="m in player.payload.runes">
                                <th scope="row">{{ $index + 1 }}</th>
                                <td>{{ m.page }}</td>
                                <td>{{ m.slot }}</td>
                                <td>{{ m.runeId }}</td>
                                <td>{{ m.pageName }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div> <!-- .col-md-10 --> 
        </div> <!-- .row -->
        
