<!-- public/views/nerd.html -->
<div class="jumbotron text-center">
	<!-- Meta -->
    <h1>Player Profile</h1>    
   <img class="" src= {{profileicon}} >
    <p>{{ tagline }}</p>
	<div class="sumName">{{ player.payload.playerData.summonerName }}</div>
    <!-- Loading Spinner -->
    <i class="fa fa-spinner fa-spin" style="font-size:36px;"></i>


    <!-- Recent Stats Table -->
	<div class="panel panel-default hide">
		<div class="panel-heading">Recent Matches</div>
		<table class="table">
			<tr> 
				<th>#</th> 
				<th>Champion</th> 
				<th>Lane</th> 
				<th>Role</th> 
				<th>WonGame</th>
				<th>Kills</th>
				<th>Deaths</th>
				<th>Assists</th>
				<th>Wards Placed</th>
				<th>Wards Killed</th>
				<th>First Blood</th>
				<th>MatchID</th>
			</tr>
			<tr ng-repeat="m in player.payload.recentMatches">
				<th scope="row">{{ $index + 1 }}</th>
				<td><script src="../controllers/playerCtrl.js">
				   getChampion({{ m.champion }});
				</script>
            <img class="" src={{champion.image}}></td> 
				<td>{{ m.lane }}</td> 
				<td>{{ m.role }}</td>
				<td>{{ m.won }}</td> 
				<td>{{ m.kills }}</td>
				<td>{{ m.deaths }}</td>
				<td>{{ m.assists}}</td>
				<td>{{ m.wards_placed}}</td>
				<td>{{ m.wards_killed}}</td>
				<td>{{ m.first_blood}}</td>
				<td>{{ m.matchId}}</td>
			</tr>

		</table>
	<!--Overall player stats-->
	<div class="panel-heading">Overall Player Stats</div>
		<table class="table">
			<tr> 
				<th>#</th> 
				<th>Region</th> 
				<th>Wins</th> 
				<th>ChampsKilled</th> 
				<th>Deaths</th>
				<th>Assists</th>
				<th>Neutral Minions Killed</th>
				<th>Turrets Destroyed</th>
				<th>CurrentLeague</th>
				<th>LastLeague</th>
			</tr>
			<tr ng-value="">
				<th scope="row">{{ $index + 1 }}</th>
				<td>{{player.payload.playerData.region}}</td> 
				<td>{{player.payload.playerData.wins }}</td>
				<td>{{player.payload.playerData.totalChampionKills }}</td>  
				<td>{{player.payload.playerData.deaths }}</td>
				<td>{{player.payload.playerData.assists}}</td>
				<td>{{player.payload.playerData.minionKills}}</td>
				<td>{{player.payload.playerData.neutralMinionKills}}</td>
				<td>{{player.payload.playerData.turretsDestroyed}}</td>
				<td>{{player.payload.playerData.currentLeague}}</td>
				<td>{{player.payload.playerData.lastLeague}}</td>
			</tr>
			
		</table>
		<div class="panel-heading">Runes</div>
		<table class="table">
			<tr> 
				<th>#</th> 
				<th>Page #</th> 
				<th>Slot</th> 
				<th>runeId</th> 
				<th>pageName</th>
			</tr>
			<tr ng-repeat="m in player.payload.runes">
				<th scope="row">{{ $index + 1 }}</th>
				<td>{{ m.page }}</td> 
				<td>{{ m.slot }}</td> 
				<td>{{ m.runeId }}</td>
				<td>{{ m.pageName }}</td> 
			</tr>
			</table>
		</div>
	</div>
	<div id="footer">LoLStats isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</div>
