<!-- public/views/nerd.html -->
<div class="jumbotron text-center">
    <div class="row">
        <div class="col-md-2" id="content-sidebar">
            <div class="playerInfo">
                <p class="name">
                    <label> {{ player.payload.playerData.region }} </label>
                    {{ player.payload.playerData.summonerName }}
                </p>
                <div class="summonerPic">
                    <img class="" src= {{profileicon}} >
                </div>
            </div>
            <br>
            <p> Career Breakdown: </p>
            <div class="heading"> <label> wins </label> {{player.payload.playerData.wins }} </div>
            <div class="heading"> <label> champion kills </label> {{player.payload.playerData.totalChampionKills }} </div>
            <div class="heading"> <label> assists </label> {{player.payload.playerData.assists }} </div>
            <div class="heading"> <label> minion kills </label> {{player.payload.playerData.neutralMinionKills }} </div>
        </div>
        <div class="col-md-10">
            <!-- Recent Stats Table -->
            <div class="panel panel-default hide">
                <div class="panel-heading">Recent Matches</div>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Champion</th>
                        <th>Lane</th>
                        <th>Role</th>
                        <th>WonGame</th>
                        <th>Kills</th>
                        <th>Deaths</th>
                        <th>Assists</th>
                        <th>Wards Placed</th>
                        <th>Wards Killed</th>
                        <th>First Blood</th>
                    </tr>
                    <tr ng-repeat="m in player.payload.recentMatches">
                        <th scope="row"><a href="/match/{{ m.matchId}}">link: {{ $index + 1 }}</a></th>
                        <td>
                            <div class="championpic" data-champion="{{ m.champion }}" ng-cloak></div>
                        </td>
                        <td>{{ m.lane }}</td>
                        <td>{{ m.role }}</td>
                        <td>{{ m.won }}</td>
                        <td>{{ m.kills }}</td>
                        <td>{{ m.deaths }}</td>
                        <td>{{ m.assists}}</td>
                        <td>{{ m.wards_placed}}</td>
                        <td>{{ m.wards_killed}}</td>
                        <td>{{ m.first_blood}}</td>
                    </tr>
                </table>
            </div>
            <div class="panel panel-default hide">
                <div class="panel-heading">Runes</div>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Page #</th>
                        <th>Slot</th>
                        <th>runeId</th>
                        <th>pageName</th>
                    </tr>
                    <tr ng-repeat="m in player.payload.runes">
                        <th scope="row">{{ $index + 1 }}</th>
                        <td>{{ m.page }}</td>
                        <td>{{ m.slot }}</td>
                        <td>{{ m.runeId }}</td>
                        <td>{{ m.pageName }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Loading Spinner -->
<i class="fa fa-spinner fa-spin" style="font-size:36px;"></i>
</div>
<div class="row">
</div>
<div id="footer">LoLStats isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</div>