#searchInput {
  margin-top: 10px;
  padding-bottom: 10px;
}

#username {
  background-color: #eee;
}

@media (min-width: 768px) {
  .container {
    margin-top: 50px;
  }

  .content-sidebar {
    text-align: left;
  }
}
.container {
  margin-top: 50px;
}

#aboutpage {
  color: #fff;
}

.img-responsive {
    margin: 0 auto;
}

label {
  font-family: 'Lato';
  color: #333;
  padding-right: 5px;
  border-right: 1px solid #000;
}

div.playerInfo .name{

  font-size: 24px;
  
}

br {
  border-bottom: 2px solid #111;
}

.championpic {
  display: inline-block;
}

.championpic img {
  width: 68px;
}

td{
    padding: 5px;
    width: 68px;
    white-space: nowrap;
    border-top: 1px solid #e4e4e4 !important;
}

td, th {
  font-size: 11px
}

th:first-child {
    position: absolute;
    left: 30px;
    width: 125px;
    border: 0;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-top: 0 !important;
    padding: 7px 0 !important;
    color: #444;
    font-weight: 700;
}

.table-wrapper { 
    overflow-x:auto;
    overflow-y:visible;
    margin-left: 102px;
}

@media (min-width: 768px) {
  .table-wrapper{
    margin-left:120px;
  }

  th:first-child {
    font-size: 10px;
  }

  table {
    margin-bottom: 0 !important;
  }

  .stat-table {
    padding: 30px !important;
  }

  th:first-child {
    left: 45px;
    letter-spacing: 2px !important;
  }
}

td:nth-child(even) {
  background: #ededed;
}

tr:first-child td, tr:nth-child(2) td, tr:nth-child(2) th{
  border: 0 !important;
}

tr:first-child td {
  background: transparent;
}

.table {
  width: 100%;
  font-family: 'open sans';
  margin-bottom: 0 !important;
}

.tr__td--match-num {
  padding: 13px 0px 5px 0px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 8px;
}

.tr__td--match-num a {
  color: #444;
  font-size: 10px;
  letter-spacing: 2px;
}

.summonerPic img {
  width: 110px;
  max-width: 100%;
}

tbody tr .tr__th--recent-matches {
  font-size: 14px;
  line-height: 16px !important;
  font-weight: 400;
  /*border-bottom: 3px solid #444 !important;*/
  padding-bottom: 4px !important;
  padding-top: 0px !important;
  width: 76px !important;
  color: #444 !important;
  letter-spacing: 1.5px !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, 
.table>tfoot>tr>td, .table>tfoot>tr>th, 
.table>thead>tr>td, .table>thead>tr>th {
  padding: 5px;
}

tr:first-child td:nth-child(even) {
  padding: 0 0 8px !important;
}

tr:first-child td:nth-child(odd) {
  padding: 0 15px 8px !important;
}

.gutter-30.row {
  margin-right: -15px;
  margin-left: -15px;
}

.gutter-30 > [class^="col-"], .gutter-30 > [class^=" col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.stat-table {
    background-color: #f5f5f5;
  padding: 15px;
  margin-bottom: 30px;
}

.content-sidebar {
  background-color: #f5f5f5;
  padding: 0 0 15px 0;
}

.summonerPic {
  background: url(http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg);
  position: relative;
  margin-bottom: 15px;
  height: 150px;
  background-size: cover;
  background-position: 50% 25%;
}

body {
  font-family: 'Open sans';
  background: #eee;
}

.name__region {
  color: #aaa;
  line-height: 18px;
}
.name__summoner-name {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 18px;
}

.name {
  line-height: 18px;
  padding: 0px 15px;
}

.career-stats {
  text-align: center;
}

.stat__label {
  display: block;
    color: #777;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

.stat__num {
  font-size: 18px;
  display: block;
  padding-right: 4px;
  color: #484848;
  font-weight: 700;
}

.career-stats {
  padding: 15px
}

.stat {
  margin-bottom: 8px;
  height: 62px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.last-updated {
    line-height: 1.5em;
    color: #777;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 15px;
}

.last-updated__label, .last-updated__time {
  display: block;
}

#footer {
  padding: 30px 60px;
  color:#aaa;
  text-align: center;
}

.player-stats {
  text-align: center;
}

#region-dropdown {
  border-radius: 0;
}

body {
    background-image: url("/img/cover3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

section.container {
  background-color: rgba(60, 60, 60, 0.9);
  border-radius: 10px;
  border: none;
}

p {
  font-family: 'Lato';
  font-size: 20px;
}

h1.page-header {
  text-align: center;
  font-family: 'Open sans';
  color: #fff;
}

@media (min-width: 768px) {
  .playerinfo {
    padding: 30px;
  }
}
.playerinfo {
  padding-top: 30px;
  padding-bottom: 30px;
}

span.heading {
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    text-shadow: 3px 2px 15px #000;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
}


/* RECENT MATCHES TABLES */
table.match.two {
  margin-top: 30px;
}

table.match.success {
  background-color: #dff0d8;
}

table.match.danger {
  background-color: #f2dede;
}
table {
  text-align: center;
}

.test {

}
